<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="navbar-brand" href="#">Pomodoro</a>
          </a>
          <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">

          <li class="dropdown-item bg-success">
          <a class="nav-link active" aria-current="page"
          [routerLink]="['/home']" routerLinkActive="active">
              Tempo
          </a>
        </li>
        <li class="dropdown-item bg-success">
          <a class="nav-link" [routerLink]="['/login']"
          routerLinkActive="active">
              Login
          </a>
        </li>
        <li class="dropdown-item bg-success">
          <a class="nav-link" [routerLink]="['/register']"
          routerLinkActive="active">
              Registro
          </a>
        </li>
        <li class="dropdown-item bg-success">
          <a class="nav-link" [routerLink]="['/sobre']"
          routerLinkActive="active">
              Sobre
          </a>
        </li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
